@tailwind base;
@tailwind components;
@tailwind utilities;



*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: var(--themeClr);
}


html, body{
	height: 100%;
	width: 100%;
	background: var(--themeClr);
}



.theme{
	--themeClr: #EFEEEA;
	--themeClr2: #FAF6E9;
	--priClr: #f2f496;
	--secClr: #273F4F;
	--mainClr: #000000;
}



#home_bg_img{
	background-image: url("/assets/images/background.jpg");
	background-position: center top;
	background-attachment: fixed;
	background-size: cover;
}







/* Custom Styles */
.linkButton{
	@apply px-4 py-2 h-full flex items-center hover:text-priClr active:underline transition-all ease-in-out;
}
.blurBg{
	@apply fixed left-0 top-0 w-full h-full bg-[#0000009d] backdrop-blur-sm;
}
.priBtn{
	@apply px-4 py-2 rounded-md font-semibold bg-priClr text-mainClr hover:opacity-90 active:opacity-100
}
.secBtn{
	@apply px-4 py-2 rounded-sm border border-mainClr text-mainClr
}